@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="tablo" class="col-md-6">
        @*tablo*@
    </div>

    <div id="kullanicidetay" class="col-md-6">
        <div id="kullanicidetayalan">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center lead"> Mevcut Fotoğrafınız</h4>
                    <img src="" id="resim" class="img-thumbnail img-fluid" />
                </div>
                <div class="col-md-8">
                    <form>
                        <input type="hidden" id="kullaniciID" />
                        <div class="form-group">
                            <label>AD Soyad : </label>
                            <input type="text" class="form-control" id="AdSoyad" />
                        </div>
                        <div class="form-group">
                            <label>Resim</label>
                            <input type="file" class="form-control-file" id="guncellenecekResim"/>
                        </div>
                        <div class="form-group">
                            <button id="btnGuncelle" class="btn btn-info btn-sm">Güncelle</button>
                            <button type="button" id="btnKapat" onclick="detayalanikapat()" class="btn btn-warning btn-sm">Kapat</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    

    <div id="kullaniciekle" class="col-md-6">
        @* kullanıcı Ekle*@
    </div>
</div>


@section Scripts
{
    <script>
        function detayalanikapat(){
            $("#kullanicidetayalan").fadeOut(500);
            }

        function getirId(KullaniciId) {
            $.ajax({
                url: "/Home/GetirId",
                type: "Get",
                contentType: "application/json; charset = utf-8",
                dataType: "json",
                data: { KullaniciId: KullaniciId },
                success: function (data) {
                    $("#kullanicidetayalan").fadeIn(500);
                    let gelennesne = jQuery.parseJSON(data);
                    $("#kullaniciID").val(gelennesne.ID);
                    $("#resim").attr("src","/img/" + gelennesne.ResimAd);
                    $("#AdSoyad").val(gelennesne.AdSoyad);
                }
            })
        }
        
        function getirHepsi(){
            $.ajax({
                url: 'Home/GetirHepsi',
                contentType: 'application/json; utf-8;',
                type: 'Get',
                dataType: 'json',
                success: function (data) {
                    let Obje = jQuery.parseJSON(data);
                    //console.log(data);

                    let table = `<table class='table table-bordered table-sm'> <tr> <th> ID </th> <th> AD SOYAD </th> <th> RESİM </th> <th> İşlem </th>`
                    $.each(Obje, (index, value) => {
                        //console.log(value.ID);
                        table += `<tr> <td> ${value.ID} </td> <td> ${value.AdSoyad} </td> <td> <img src=' /img/${value.ResimAd}' class='w-25 img-fluid' /> </td>  <td> <button onclick='getirId(${value.ID})' class="btn btn-info btn-sm">Getir</button> </td>  </tr>`
                    });

                    table += '</table>';

                    $("#tablo").html(table);
                }


            })
        }
        $(document).ready(function () {
            
            getirHepsi();

            $("#btnGuncelle").click(function(){
                let kullaniciId = $("#kullaniciID").val();
                let AdSoyad = $("#AdSoyad").val();
                let file = $("#guncellenecekResim")[0].files[0];
                
                let formData = new FormData();
                formData.append("ID", kullaniciId);
                formData.append("AdSoyad", AdSoyad);
                
                if(file != null){
                formData.append("File" , file , file.fileName);    
                }
                
                $.ajax({
                url:"/Home/Guncelle",
                type:"Post",
                data:formData,
                contentType:false,
                processData:false,
                success:function(){
                        $("#kullanicidetayalan").fadeOut(500);
                        getirHepsi();

                }
                
                })

            })
        });

    
    </script>
}
